@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));


/* Custom Scrollbar Styling for Light Mode */
.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
    /* Thumb color */
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: #e5e7eb;
    /* Track color */
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #1d4ed8;
    /* Thumb hover color */
}

/* Custom Scrollbar Styling for Dark Mode */
.dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4b8bf5;
    /* Dark mode thumb color */
}

.dark .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #374151;
    /* Dark mode track color */
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #3b82f6;
    /* Dark mode thumb hover color */
}
