@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Special+Gothic+Expanded+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@custom-variant dark (&:where(.dark, .dark *));

.scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4f46e5;
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #1d4ed8;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #4b8bf5;
}

.dark .scrollbar-custom::-webkit-scrollbar-track {
    background-color: #374151;
}

.dark .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #3b82f6;
}

@keyframes shine {
    0% {
        background-position: 50% 0;
    }

    100% {
        background-position: -50% 0;
    }
}

.animate-shine {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.15));
    background-size: 200% 100%;
    animation: shine 1s infinite linear;
}

/* Custom animations */
@keyframes checked-icon-like {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    50% {
        transform: scale(1.2) rotate(-10deg);
    }
}

.peer:checked~svg {
    animation: checked-icon-like 0.5s;
}

/* Hover animation */
.hover\:animate-shake:hover svg {
    animation: shake 0.7s ease-in-out both;
}

@keyframes shake {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(3deg);
    }

    50% {
        transform: rotate(-3deg);
    }

    75% {
        transform: rotate(1deg);
    }
}
